name: build and deploy

on: push


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: echo "build 완료"

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - run: echo "deploy 시작 완료"



